body {
  font-family: 'Open Sans', sans-serif;
}

.bg-yellow {
  background-color: #FFEAC1;
}
.bg-white {
  background-color: #ffffff;
}
.clr-blue {
  color: #2A4EAA;
}
.clr-orange {
  color: #F8593B;
}
.clr-text {
  color: #6E798C;
}
.clr-author {
  color: #081F32;
}

.box-wrp {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 672px;
  width: 100%;
  padding: 50px 40px;
  padding-right: 250px;
  margin: 27px;
  position: relative;
}
.quote-icon {
  font-size: 46px;
}
.quote-text {
  font-size: 18px;
  line-height: 27px;
}
.quote-author {
  font-family: 'DM Serif Display', serif;
  font-size: 26px;
  line-height: 25px;
  margin-bottom: 5px;
}
.quote-author-info {
  margin: 0;
  display: none;
}
.quote-logo-wrp {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translate(0, -50%);
}
.quote-logo {}


@media (max-width: 400px) {
  .quote-icon {
    color: #F8593B !important;
    font-size: 62px;
  }
  .box {
    padding-right: 40px;
  }
  .quote-text {
    border-bottom: solid 1px #EBECED;
    padding-bottom: 20px;
    line-height: 40px;
  }
  .quote-author {
    padding-left: 80px;
  } 
  .quote-author-info {
    padding-left: 80px;
    display: block;
  }
  .quote-logo-wrp {
    width: 64px;
    height: 64px;
    top: auto;
    right: auto;
    left: 36px;
    bottom: 37px;
    transform: translate(0, 0);
  }
  .quote-logo {
    width: 43px;
    height: 42px;
  }

}